.proyect {
  width:100%;
  margin-top: 40px; }
  .proyect .title {
    color: #fff; }

.table-responsive {
  background: #fefefe;
  margin-top: 20px;
  width: 100%;
  overflow-x: auto; }
  .table-responsive .table {
    width: 100%;
    border-collapse: collapse; }
    .table-responsive .table thead {
      text-align: center; }
      .table-responsive .table thead tr th {
        padding: 1.2em;
        border-bottom: 0.2px solid rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
        font-size: .90em; }
    .table-responsive .table tbody {
      text-align: center; }
      .table-responsive .table tbody tr td {
        padding: 20px 0;
        color: rgba(0, 0, 0, 0.5); }

        .table-responsive .table tbody tr td button{
          width:80px;
          height:40px;
          border:none;
          margin:4px;
          border-radius:4px;
          box-shadow:0 0 4px rgba(0,0,0,.4);
          cursor:pointer;
        }

        .table-responsive .table tbody tr td button.btn-deleted{
          background:#e74c3c;
        }
        .table-responsive .table tbody tr td button.btn-edit{
          background:#1FA184;
        }
        .table-responsive .table tbody tr td button i{
          pointer-events: none;
          color:#fff;
        }