.add-projects-content{
  width:100% !important;
  background:none !important;
}

.add-projects-content label{
  color:#fff;
}

.Select{
  margin:20px 0;
}

.form-ui__field{
  margin-bottom:20px;
}

.form-btn{
  background:#1FA184 !important;
}