.wrapper-formProfile{
  flex-direction:column;
}
.edit-profile{
  margin-top:20px;
}

.profile-img{
  border-radius:50%;
  overflow: hidden;
}
.profile-img img{
  width:100px;
  height:100px;
}

.fileContent{
  width:100%;
  position:relative;
}

.inputfile{
  visibility:hidden;
  position:relative;
}


.inputfile + label{
  position:absolute;
  width:100%;
  line-height: 3em;
  background:#121F26;
  top:0;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#fff;
  border-radius:3px;
  cursor:pointer;
}

.inputfile + label img{
  width:20px;
  position:relative;
  left:-10px;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .edit-profile{
    width:100%;
  }
}