.form-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 320px) and (max-width: 992px) {
    .form-wrapper {
      padding: .60em; } }

.form-content {
  background: #fff;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.8em;
  border-radius: 3px;
  box-shadow: 0 0 10px #1b2125; }
  @media screen and (min-width: 320px) and (max-width: 992px) {
    .form-content {
      height: auto; } }
  @media screen and (min-width: 320px) and (max-width: 1200px) {
    .form-content {
      width:100%;
      height: auto; } }
  .form-content .form-title {
    font-family: "Pacifico", cursive;
    font-size: 1.5em; }
  .form-content .form-ui {
    margin-top: 10px;
    width: 100%; }
    .form-content .form-ui__field {
      display: block;
      background:#fff;
      width: 100%;
      border: none;
      padding: 1.4em;
      border: 0.5px solid rgba(0, 0, 0, 0.3);
      margin-top: 10px;
      border-radius: 3px; }
      .form-content .textarea{
        resize:none;
      }
      .form-content .form-ui__field:focus, .form-content .form-ui__field:active {
        outline: none; }
    .form-content .form-ui .form-btn {
      border: none;
      background: #121F26;
      color: #fff;
      text-transform: uppercase;
      cursor: pointer;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); }
      .form-content .form-ui .form-btn:active {
        transform: scale(0.9); }
