.menu-bar {
  width: 100%;
  height: 80px;
  background: #fff;
  display: flex;
  padding: 1em;
  justify-content: space-between;
  position: relative;
  z-index: 10; }
  .menu-bar h2 {
    font-family: "Pacifico", cursive; }
  .menu-bar .btn-toggle {
    border: none;
    background: none; }
    .menu-bar .btn-toggle i::before {
      font-size: 2em; }
  @media screen and (min-width: 1200px) {
    .menu-bar {
      display: none; } }
.menu-bar .btn-toggle:focus,
.menu-bar .btn-toggle:active{
  outline:none;
}