.content-modal{
  position:fixed;
  width:100%;
  max-height:100%;
  overflow-y:auto;
  top:0;
  display:flex;
  background:rgba(255,255,255,.3);
  padding:1em;
  justify-content: center;
  opacity:0;
  z-index: -1;
  transition:.4s all ease-in;
}

.content-modal-skill{
  height:100%;
  align-items:center;
}

.content-modal.isActive{
  opacity:1;
  z-index:10;
}

.modal-btn-close{
  position:absolute;
  top:30px;
  right:30px;
  display:block;
  width:50px;
  height:50px;
  color:#fff;
  border:none;
  background:#121F26;
  border-radius:50%;
}
.modal-btn-close:focus,
.modal-btn-close:active{
  outline:none;
}

.content-form-modal{
  width:60%;
  height:100%;
}

.form-modal-skill{
  height:50%;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {

  .content-form-modal{
    width:100%;
  }

}