.sidebar {
  position:fixed;
  z-index:10;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  background: #fff;
  transform: translate3d(-100%, 0, 0);
  transition: .4s all; }
  @media screen and (min-width: 320px) and (max-width: 1200px) {
    .sidebar {
      padding-top: 80px; }
      .sidebar.open-menu {
        transform: translate3d(0, 0, 0); } }
  @media screen and (min-width: 1200px) {
    .sidebar {
      transform: translate3d(0, 0, 0); } }
  .sidebar__logo {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Pacifico", cursive; }
    @media screen and (min-width: 320px) and (max-width: 1200px) {
      .sidebar__logo {
        display: none; } }
  .sidebar__body {
    background: #121F26;
    height: 100%; }
    .sidebar__body__menu {
      list-style: none; }
      .sidebar__body__menu li a {
        display: block;
        text-decoration: none;
        color: #fff;
        font-weight: 300;
        padding: 1.2em;
        color: rgba(255, 255, 255, 0.6);
        transition: .4s all; }
        .sidebar__body__menu li a i {
          position: relative;
          left: -5px; }
          .sidebar__body__menu li a:hover {
          background: #0095E8;
          color: #fff; }