
/* Estilos 404 */
.error-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.error {
  text-align: center;
  color: #fff; }
  .error__title {
    font-size: 6em;
    font-family: "Aldrich", sans-serif;
    position: relative; }
    @media screen and (min-width: 320px) and (max-width: 1200px) {
      .error__title {
        font-size: 4em; } }
    @media screen and (min-width: 320px) and (max-width: 1200px) {
      .error__title img {
        display: block;
        margin: auto; } }
    .error__title::before, .error__title::after {
      content: "4";
      position: absolute;
      font-size: 2.5em;
      top: 50%;
      transform: translateY(-50%); }
      @media screen and (min-width: 320px) and (max-width: 1200px) {
        .error__title::before, .error__title::after {
          font-size: 2.2em; } }
    .error__title::after {
      right: -120px; }
      @media screen and (min-width: 320px) and (max-width: 1200px) {
        .error__title::after {
          right: -45px; } }
    .error__title::before {
      left: -120px; }
      @media screen and (min-width: 320px) and (max-width: 1200px) {
        .error__title::before {
          left: -45px; } }
  .error p {
    text-transform: uppercase;
    font-size: 1.5em;
    margin-top: 10px; }
  .error .btn-home {
    display: block;
    width: 150px;
    line-height: 3em;
    margin: 20px auto;
    background: #1FA184;
    text-decoration: none;
    color: #fff;
    border-radius: 1.5em;
    text-transform: uppercase;
    font-size: .90em;
    box-shadow: 0 0 5px rgba(49, 60, 66, 0.9); }

/* End Estilos 404 */
