.about {
  color: #fff; }
  .about__greeting {
    margin-top: 20px; }
  .about__description {
    margin-top: 30px;
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.8em;
    font-weight: 500; }