.contact__title {
  color: #fff; }

.contact__message {
  color: #fff;
  margin-top: 60px;
  font-family: "Aldrich", sans-serif;
  font-weight: 700;
  font-size: 1.3em; }

.contact__form {
  margin: auto;
  margin-top: 30px; }
  .contact__form__field {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 1.2em;
    border: none;
    background: #0F171B;
    color: #fff; }
    .contact__form__field:focus {
      outline: none; }
  .contact__form .textarea {
    resize: none; }
  .contact__form__btnSend {
    border: none;
    background: #1FA184;
    width:120px;
    height: 50px;
    border-radius: 25px;
    color: #fff;
    font-weight: 600;
    margin-top: 30px;
    font-family: "Aldrich", sans-serif;
    letter-spacing: 2px;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
