/* Estilos para el header */
#header {
  padding: 20px 0; }
  @media screen and (min-width: 320px) and (max-width: 1200px) {
    #header {
      padding: 0; } }

.header {
  display: flex;
  align-items: center; }
  @media screen and (min-width: 320px) and (max-width: 1200px) {
    .header {
      background: #313C42;
      padding: 20px 10px; } }
  .header__logo {
    display: block;
    width: 40px; }
  .header span {
    font-family: "Pacifico", cursive;
    color: #fff;
    font-size: 1.3em;
    margin-left: 10px; }

/* Fin de estilos para el header */