.loader-principal{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  opacity:0;
  z-index:-1;
  transition:.4s all;
  background:#121F26;
}

.loader-principal.load{
  opacity:1;
  z-index:20;
}


.boy{
  width:150px;
}

.loader-principal h2{
  font-family:"Pacifico", cursive;
  color:#fff;
  margin-top:10px;
  font-size:30px;
}

.ojo-left,.pupila-left{
  animation:animacion 2s infinite;
}

.ojo-right,.pupila-right{
  animation:animacion 2s infinite;
}

/* .pupila-left{
  animation:animacion 2s infinite;
}

.pupila-right{
  animation:animacion 2s infinite;
} */

@keyframes animacion{
  0%{
    opacity:0;
  }
  100%{
    opacity:1
  }
}