/* Estilos navbar */
#navbar-content {
  width: 70px;
  float: right; }
  @media screen and (min-width: 320px) and (max-width: 1200px) {
    #navbar-content {
      float: none; } }
  #navbar-content.sticky-navbar {
    position: fixed;
    top: 10px;
    right: 50px; }

.menu {
  text-align: center; }
  @media screen and (min-width: 320px) and (max-width: 1200px) {
    .menu {
      background: #0F171B;
      display: flex;
      align-items: center;
      justify-content: center; } }
  .menu__img {
    position: relative; }
    .menu__img a {
      display: inline-block;
      color: #fff;
      text-decoration: none;
      cursor:pointer; }
    .menu__img img {
      width: 45px;
      height: 45px;
      object-fit: cover;
      border-radius: 50%;
      transform: rotate(90deg);
      display: block;
      margin: auto; }
      @media screen and (min-width: 320px) and (max-width: 1200px) {
        .menu__img img {
          width: 40px;
          height: 40px; } }
  .menu__list {
    list-style: none; }
    @media screen and (min-width: 320px) and (max-width: 1200px) {
      .menu__list {
        display: flex; } }
    .menu__list li a {
      display: inline-block;
      color: white;
      text-decoration: none;
      margin-top: 20px;
      cursor:pointer;
     }
      @media screen and (min-width: 320px) and (max-width: 1200px) {
        .menu__list li a {
          margin-top: 0;
          margin: 12px; } }
      .menu__list li a i::before {
        font-size: 1.6em; }
        @media screen and (min-width: 320px) and (max-width: 1200px) {
          .menu__list li a i::before {
            font-size: 2em; } }

/* End Estilos Navbar */


/* Trabajamos con los estilos de los tooltip */
a[data-tooltip] {
  position: relative; }
  @media screen and (min-width: 1200px) {
    a[data-tooltip]::before {
      content: attr(data-tooltip);
      position: absolute;
      display: block;
      width: 100px;
      height: 30px;
      left: -110px;
      background: rgba(49, 60, 66, 0.9);
      font-family: "Aldrich", sans-serif;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1em;
      box-shadow: 0 0 6px #1b2125;
      z-index:50;
    }
    a[data-tooltip]::after {
      content: "";
      position: absolute;
      left: -10px;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-left: 10px solid rgba(49, 60, 66, 0.9);
      border-bottom: 5px solid transparent; }
    a[data-tooltip]::after, a[data-tooltip]::before {
      visibility: hidden;
      opacity: 0;
      transition: .2s all ease-in;
      top: 50%;
      transform: translateY(-50%); }
    a[data-tooltip]:hover:before, a[data-tooltip]:hover:after {
      visibility: visible;
      opacity: 1; } }