.portfolio__title {
  color: #fff; }

.portfolio__grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

  .portfolio__grid--item{
    position:relative;
    overflow: hidden;
  }

  .portfolio__grid--item .overlay{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.8);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:#fff;
    text-align:center;
    opacity:0;
    transition:.4s all;
  }

  .portfolio__grid--item .overlay h4{
    position:relative;
    transition:.4s all;
    top:-50px;
  }

  .portfolio__grid--item .overlay p{
    position:relative;
    transition:.4s all;
    bottom:-50px;
  }

  .portfolio__grid--item a:hover > .overlay h4{
    top:0;
  }
  .portfolio__grid--item a:hover > .overlay p{
    bottom:0;
  }

  .portfolio__grid--item a:hover > .overlay{
    opacity:1;
  }

  .portfolio__grid--item a img{
    transition:.8s all;
  }

  .portfolio__grid--item a:hover > img{
    transform:scale(1.2) rotate(5deg);
  }


  @media screen and (min-width: 320px) and (max-width: 992px) {
    .portfolio__grid {
      grid-template-columns: 1fr;
      grid-gap: 10px; } }
  .portfolio__grid--item img {
    width: 100%;
    display: block;
    object-fit: cover; }