.shape {
  position: fixed;
  z-index: -1; }
  .shape.shape1 {
    top: -9px;
    left: -2px; }
    .shape.shape1 polygon {
      fill: #0F171B; }
  .shape.shape2 {
    top: -100px;
    right: -60px; }
    .shape.shape2 polygon {
      fill: #1FA184; }
  @media screen and (min-width: 320px) and (max-width: 1200px) {
    .shape.shape1{
      top:80px;
    }

    .shape.shape2{
      right:-90px;
    }
  }