/* Estilos Aside Profile */
.profile {
  width: 275px !important;
  text-align: center;
  float: left;
  box-shadow: 0 0 8px #020303;
  transition: .4s all; }
  @media screen and (min-width: 320px) and (max-width: 1200px) {
    .profile {
      float: none;
      width: 100% !important; } }
  .profile-head {
    background: #1FA184;
    padding: 1em; }
    .profile-head__img {
      display: block;
      width: 150px;
      height: 150px;
      margin: auto;
      border-radius: 50%;
      overflow: hidden;
      transform: rotate(90deg); }
      .profile-head__img img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .profile-head__info .name {
      margin-top: 30px;
      font-family: "Aldrich", sans-serif;
      color: #fff;
      text-transform: uppercase; }
      .profile-head__info .name span {
        display: block;
        font-size: .50em;
        font-family: "Open Sans", sans-serif;
        color: rgba(255, 255, 255, 0.6); }
    .profile-head__info .career {
      color: rgba(255, 255, 255, 0.6);
      margin-top: 30px; }
    .profile-head__info .sociales {
      list-style: none;
      display: flex;
      justify-content: center;
      margin-top: 30px; }
      .profile-head__info .sociales li a {
        display: inline-block;
        margin: 10px;
        font-size: 1.3em;
        color: #fff;
        text-decoration: none; }
  .profile-body {
    background: #313C42; }
    .profile-body .content-button {
      height: 90px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .profile-body .content-button a {
        background: #DEC746;
        font-size: 1em;
        text-transform: uppercase;
        font-family: "Aldrich", sans-serif;
        width: 200px;
        height: 60px;
        border-radius: 30px;
        text-decoration:none;
        color:#000;
        display:flex;
        justify-content:center;
        align-items:center;
      }

/* End estilos asideProfile */