/* Estilos section Skills */
.skills__title {
  color: #fff; }

.skills__tech {
  margin-top: 20px;
  width: 70%; }
  .skills__tech .skill {
    margin-top: 10px; }
    .skills__tech .skill__info {
      display: flex;
      justify-content: space-between;
      color: #fff;
      padding-bottom: 10px; }
    .skills__tech .skill .percent {
      height: 5px;
      background: #121F26;
      position: relative;
      border-radius: 3px;
      overflow: hidden; }
      .skills__tech .skill .percent::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: var(--percent);
        height: 100%;
        background: #1FA184; }

        @media screen and (min-width: 320px) and (max-width: 1200px) {
          .skills__tech{
            width:100%;
          }
        }

/* Fin Section Skills */