.loader-image{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.6);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  opacity:0;
  z-index:-1;
  color:#fff;
}

.loader-image.is-loading{
  opacity:1;
  z-index:20;
}

.icon-loader{
  width:100px;
  animation:zoom .9s alternate infinite;
}

@keyframes zoom{
  0%{
    transform:scale(.80);
  }
  100%{
    transform:scale(1.2);
  }
}



