.hero-proyect {
  padding-bottom: 30px;
  border-bottom: 0.2px solid rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.2); }

.hero {
  text-align: center;
  color: #fff; }
  @media screen and (min-width: 320px) and (max-width: 1200px) {
    .hero {
      padding: 1em; } }
  .hero__title {
    font-size: 4em; }
    @media screen and (min-width: 320px) and (max-width: 1200px) {
      .hero__title {
        font-size: 2.2em; } }
  .hero__tech {
    margin-top: 20px;
    font-size: 1.2em;
    text-transform:uppercase;
  }
    @media screen and (min-width: 320px) and (max-width: 1200px) {
      .hero__tech {
        font-size: 1em; } }
  .hero__review {
    margin-top: 30px;
    font-size: 1.2em; }

.proyect {
  width: 70%;
  margin: 40px auto; }
  @media screen and (min-width: 320px) and (max-width: 1200px) {
    .proyect {
      width: 100%;
      padding: 1em; } }
  .proyect p {
    color: #fff;
    font-size: 1.3em;
    text-align: justify;
    line-height: 35px;
    margin-top: 30px; }
    @media screen and (min-width: 320px) and (max-width: 1200px) {
      .proyect p {
        font-size: .90em;
        line-height: 20px; } }
  .proyect img {
    width: 600px;
    display: block;
    margin: auto; }
    @media screen and (min-width: 320px) and (max-width: 1200px) {
      .proyect img {
        width: 80%; } }