.proyecto {
  width: 70%;
  margin: 40px auto; }
  .proyecto p{text-align:center;}
  @media screen and (min-width: 320px) and (max-width: 1200px) {
    .proyecto {
      width: 100%;
      padding: 1em; } }
  .proyecto p {
    color: #fff;
    font-size: 1.3em;
    text-align: center;
    line-height: 35px;
    margin-top: 30px; }
    @media screen and (min-width: 320px) and (max-width: 1200px) {
      .proyecto p {
        font-size: .90em;
        line-height: 20px; } }
  .proyecto img {
    width: 600px;
    display: block;
    margin: auto; }

    .proyecto .go-proyect{
      display:block;
      color:#fff;
      text-decoration:none;
      width:150px;
      margin:auto;
      background:#1FA184;
      line-height:3em;
      text-align:center;
      border-radius:1em;
      box-shadow: 0 3px 1px #177661;
      transition: 0.2s all ease-in;
    }

    .proyecto .go-proyect:active{
        box-shadow:0 1px #177661;
    }

    @media screen and (min-width: 320px) and (max-width: 1200px) {
      .proyecto img {
        width: 80%; } }