	/*
  	Flaticon icon font: Flaticon
  	Creation date: 24/06/2018 02:01
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
}

.flaticon-folder:before { content: "\f100"; }
.flaticon-github:before { content: "\f101"; }
.flaticon-linkedin:before { content: "\f102"; }
.flaticon-facebook:before { content: "\f103"; }
.flaticon-codepen:before { content: "\f104"; }
.flaticon-delete-button:before { content: "\f105"; }
.flaticon-instagram:before { content: "\f106"; }
.flaticon-arrow:before { content: "\f107"; }
.flaticon-add:before { content: "\f108"; }
.flaticon-twitter:before { content: "\f109"; }
.flaticon-skills:before { content: "\f10a"; }
.flaticon-exit:before { content: "\f10b"; }
.flaticon-briefcase:before { content: "\f10c"; }
.flaticon-binoculars:before { content: "\f10d"; }
.flaticon-email:before { content: "\f10e"; }
.flaticon-research:before { content: "\f10f"; }
.flaticon-refresh:before { content: "\f110"; }
.flaticon-experiment:before { content: "\f111"; }
.flaticon-menu:before { content: "\f112"; }
.flaticon-edit:before { content: "\f113"; }