/* Estilos base */
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Aldrich");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #121F26;
  font-family: "Open Sans", sans-serif; }

body::-webkit-scrollbar {
  width: 10px; }

body::-webkit-scrollbar-thumb {
  background: #1FA184; }

button:active,
button:focus,
input:active,
input:focus{
  outline:none;
}

.title {
  font-family: "Aldrich", sans-serif;
  text-transform: uppercase;
  font-size: 1.7em; }

.wrapper-inner {
  margin-left: 260px;
}
  @media screen and (min-width: 320px) and (max-width: 1200px) {
    .wrapper-inner {
      margin-left: 0; } }



.section {
  background: #313C42;
  border-radius: 1px; }
  @media screen and (min-width: 1200px) {
    .section {
      box-shadow: 0 0 8px #020303; } }

@media screen and (min-width: 1200px) {
  .ordep-mtop {
    margin-top: 20px; } }

.padd-ordep {
  padding: 40px 40px; }

@media screen and (min-width: 1200px) {
  .ordepContainer {
    margin-top: 10px; } }

.ordep-container {
  max-width: 1196px;
  margin: auto;
  /* @include fromTo(base,desktop){
    width:90%;
  } */ }

.ordep-container-admin {
  max-width: 95%;
  margin: auto;
  /* @include fromTo(base,desktop){
    width:90%;
  } */ }

.case-page{
  animation: fade .4s ease-in;
}

@keyframes fade{
  from{
    opacity:0;
  }
  to{
    opacity: 1;
  }
}

.ordep-container-sm {
  margin-left: 300px;
  margin-right: 80px; }
  @media screen and (min-width: 320px) and (max-width: 1200px) {
    .ordep-container-sm {
      margin-left: 0;
      margin-right: 0; } }

/* Fin estilos base */